body {
    font-family: Arial, sans-serif;
    background-color: #921616;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(182, 117, 117);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #442d2d;
    text-align: left;
}

th {
    background-color: #816969;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
